<% include ../partials/header %>
<br>
<div class="jumbotron bg-link "> 
<h1 class="display-3 text-center">USERS LISTS</h1>  
<br>
<table class="table">
    <thead>
        <tr class="bg-info">
            <th>Users ID</th>
            <th>Email</th>
            <th>Password</th>
            <th>Edit</th>
            <th>Delete</th>
            <th> <a class="btn btn-success" href="/insert_user" role="button">Insert</a></th>
        </tr>
    </thead>
    <tbody id="myTable">
    <% users.forEach(function(user) { %>
        <tr>
            <td scope="row"><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.password %></td>
            <td>
            <a class="btn btn-warning" href="/users/<%= user.id%>" role="button">Edit</a>
            </td>
            <td>
            <a class="btn btn-danger" href="/user_delete/<%= user.id%>" onclick="return confirm('Are You Sure you want to Delete ? Please Confirm this')" role="button">Delete</a>
            </td>
        </tr>
        <% }); %>
    </tbody>
   
</table>
 </div>
<% include ../partials/footer %>
